@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Merriweather:wght@900&family=Montserrat:wght@900&display=swap');

.footer{
  grid-area: footer;
  display: flex;
  background-color: #75c1b1;
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
}
.footer h4 a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #326a5f;
}
.footer nav{
  margin: 50px 0;
}
.footer nav ul{
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}
.footer nav ul li a{
  font-size: 1.5rem;
  margin: 20px;
  color: #296357;
  transition: 0.3s ease-in-out;
}
.footer nav ul li a:hover{
  color: #ffffff;
  font-weight: 900;  
  text-transform: uppercase;
  transform: scale(1.5);
}
.footer .social-media a{
  font-size: 2rem;
  margin: 20px;
  color: #326a5f;
  transition: 0.3s ease-in-out;
}
.footer .social-media a:hover{
  color: #ffffff;
  transform: scale(4);
}