@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Merriweather:wght@900&family=Montserrat:wght@900&display=swap');

.header nav ul{
  display: flex;
}
.header nav ul li a{
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
  padding: 10px 30px;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.header nav ul li a:hover{
  color: #000;
  background-color: #fff;
  border-radius: 50px;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-weight: 900;
  transform: scale(1.2);
}
.header .menu{
  display: none;
  width: 60px;
  height: 60px;
  align-self: flex-end;
}
.header nav label{
  display: flex;
  flex-direction: column;
}
.header .hamburguer{
  background-color: #fff;
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}
.header .hamburguer:before,
.header .hamburguer:after{
  background-color: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
}
.header .hamburguer:before{
  top: -10px;
}
.header .hamburguer:after{
  bottom: -10px;
}
.header input{
  display: none;
}
.header input:checked ~ label .hamburguer{
  transform: rotate(45deg);
}
.header input:checked ~ label .hamburguer:before{
  transform: rotate(90deg);
  top: 0;
}
.header input:checked ~ label .hamburguer:after{
  transform: rotate(90deg);
  bottom: 0;
}

@media (max-width: 900px) {
  .header .menu{
    display: block;
  }
  .header nav ul{
    display: none;
  }
  .header input:checked ~ ul{
    display: block;
  }
  .header nav{
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 1;
  }
  .header nav ul{
    width: 200px;
    padding: 20px;
  }
  .header nav ul a{
    text-align: center;
    padding: 20px;
    display: block;
  }
}