@media (max-width: 900px) {
  .header .menu{
    display: block;
  }
  .header nav ul{
    display: none;
  }
  .header input:checked ~ ul{
    display: block;
  }
  .header nav{
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 1;
  }
  .header nav ul{
    width: 200px;
    padding: 20px;
  }
  .header nav ul a{
    text-align: center;
    padding: 20px;
    display: block;
  }
}

@media(max-width: 425px) {
  .hero{
    height: 60vh;
  }
  .hero h1{
    font-size: 1.4rem;
  }
}


@media (max-width: 425px) {
  .about .item {
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}


@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}