@media(max-width: 425px) {
  .hero{
    height: 60vh;
  }
  .hero h1{
    font-size: 1.4rem;
  }
}


@media (max-width: 425px) {
  .about .item {
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}


@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}