@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Merriweather:wght@900&display=swap');

html{
  font-size: 62.5%;
}
body {
  display: grid;
  grid-template-areas: "header header header header"
                       "hero hero hero hero"
                       "about about about about"
                       "services services services services"
                       "projects projects projects projects"
                       "contacts contacts contacts contacts"
                       "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
}
.header{
  grid-area: header;
  background-color: #3dbeff;
}
.header .header-container{
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.hero{
  grid-area: hero;
}
.about{
  grid-area: about;
}
.services{
  grid-area: services;
}
.projects{
  grid-area: projects;
}
.contact{
  grid-area: contact;
}
.footer{
  grid-area: footer;
}


















/*
.header {
  padding: 30px 15px;
  position: relative;
  background: url(./src/images/desktop/image-header.jpg) center center no-repeat;
  width: 1440px;
  height: 1200px;
  
}

.header .logo {
  /*background: url(./sunnyside-agency/src/images/logo.svg) center center no-repeat;
  display: inline-block;
}
  /*font-weight: 300;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
}

.header nav {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 5px;
}

.header ul li {
  display: inline-block;
  padding: 15px;
}

.header ul li a {
  color: #ffffff;
 }

.header ul li:hover {
  font-weight: bold;
}

.header h1 {
  position: absolute;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-size: 35px;
  letter-spacing: 0.2em;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}
*/