@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Merriweather:wght@900&family=Montserrat:wght@900&display=swap');

html {
  font-size: 62.5%;
}
body {
  display: grid;
  grid-template-areas: "header header header header"
                       "hero hero hero hero"
                       "about about about about"
                       "services services services services"
                       "testimonials testimonials testimonials testimonials"
                       "projects projects projects projects"
                       "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
}
.header {
  grid-area: header;
  background-color: #3dbeff;
}
.header .header-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.hero {
  grid-area: hero;
  height: 89vh;
  background: url(../images/desktop/image-header.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero h1 {
  font-family: 'Fraunces', serif;
  font-size: 4.3rem;
  color: #fff;
  text-transform: uppercase;
  padding-top: 80px;
  letter-spacing: 0.5rem;
}
.hero:after {
  content: url(../images/icon-arrow-down.svg);
  position: absolute;
  bottom: 230px;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}
@-webkit-keyframes downarrow {
  0% {-webkit-transform: translateY(0); opacity: 0.5;}
  100% {-webkit-transform: translateY(0.4em); opacity: 0.9;}
}

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  max-width: var(--max-width-size);
  margin: 0 auto;
}
.about .item {
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.about .item h2 {
  font-family: 'Fraunces', serif;
  color: #222730;
  font-size: 3.6rem;
  font-weight: 900;
}
.about .item p {
  color: #7987a0;
  font-size: 1.6rem;
  margin: 30px 0;
  line-height: 1.5;
}
.about .item .btn-learn-more-left,
.about .item .btn-learn-more-right {
  font-family: 'Fraunces', serif;
  color: #222730;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: underline solid 4px;
  align-self: flex-start;
}
.about .item .btn-learn-more-left {
  text-decoration-color: #fcfaaf;
  border-radius: 50px;
}
.about .item .btn-learn-more-right {
  text-decoration-color: #fcc8cc;
  border-radius: 50px;
}
.about .image {
  width: 100%;
  height: 100%;
}
.about .image.right {
  background: url(../images/desktop/image-transform.jpg) center center no-repeat;
  background-size: cover;
}
.about .image.left {
  background: url(../images/desktop/image-stand-out.jpg) center center no-repeat;
  background-size: cover;
}

.services {
  grid-area: services;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.services .service .design-info {
  background: url(../images/desktop/image-graphic-design.jpg) center center no-repeat;
  background-size: cover;
  height: 720px;
}
.services .service .design-info h3 {
  color: #326a5f;
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding-top: 450px
}
.services .service .design-info p {
  color: #6bb3a1;
  line-height: 25px;
  text-align: center;
  width: 340px;
  margin: 70px auto 0;
}
.services .service .photography-info {
  background: url(../images/desktop/image-photography.jpg) center center no-repeat;
  background-size: cover;
  height: 720px;
}
.services .service .photography-info h3 {
  color: #176186;
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding-top: 450px
}
.services .service .photography-info p {
  color: #4094c0;
  line-height: 25px;
  text-align: center;
  width: 340px;
  margin: 70px auto 0;
}

.testimonials {
  grid-area: testimonials;
  display: flex;
  flex: 1;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
}
.testimonials h3 {
  color: #b7b4b3;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-align: center;
  margin: 120px auto 0;
}
.testimonials .clients {
  display: flex;
  flex: 1;
  width: 1000px;
  justify-content: space-between;
  margin: 80px auto 130px;
}
.testimonials .clients img {
  border-radius: 100px;
  width: 68px;
  margin-left: 30%;
}
.testimonials .clients p {
  color: #7987a0;
  font-size: 1.4rem;
  width: 262px;
  text-align: center;
}
.testimonials .clients .first-client p:nth-child(2),
.testimonials .clients .second-client p:nth-child(2),
.testimonials .clients .third-client p:nth-child(2) {
  margin-top: 50px;
  line-height: 25px;
}
.testimonials .clients .first-client p:nth-child(3),
.testimonials .clients .second-client p:nth-child(3),
.testimonials .clients .third-client p:nth-child(3) {
  margin-top: 50px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #3e3e42;
}
.testimonials .clients .first-client p:nth-child(4),
.testimonials .clients .second-client p:nth-child(4),
.testimonials .clients .third-client p:nth-child(4) {
  color: #bebec2;
  font-size: 1.2rem;
  margin-top: 10px;
}
.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.projects img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.projects a:hover img {
  opacity: 0.6;
}